# template input; name=git-source

pkgver() {
  cd $_gitname
  grep -Pom1 '(?<=<em:version>)[[:digit:]\.]*(?=</em:version>)' install.rdf | tr '\n' '.'
  # template input; name=git-revcount
}

# vim: filetype=sh
