# template input; name=git-source

pkgver() {
  cd $_gitname
  if [ -f *.json ]
  then
    sed -n 's/.*"version"\s*:\s*"\([[:digit:].]*\)"\s*,.*/\1/p' *.json 2>/dev/null | tr -d '\n'
  else
    # template input; name=install-rdf-version
  fi
  echo -n .
  # template input; name=git-revcount
}

# Move down repository content for easier access by following functions.
prepare() {
  cp -rf --reflink=auto "$_gitname"/* .
  rm -rf "$_gitname"
}

# vim: filetype=sh
