target=${pkgname%%-*}
depends+=($target)

package() {
  local id="$(grep -Pom1 '(?<=<em:id>).*(?=</em:id>)' install.rdf)"
  local destdir="$pkgdir/usr/lib/${target/firefox/firefox\/browser}/extensions/$id"
  install -d $destdir
  cp --no-preserve=ownership,mode -r * $destdir
}

# vim: filetype=sh
