# template input; name=install-rdf-targets

depends=(${pkgname%%-*})

package() {
  compose_dependencies
  # template input; name=prepare-target
  # template input; name=install-all
}

# Hidden from mksrcinfo in silly subfunction.
compose_dependencies() {
  depends=($(version-range ${pkgname%%-*}))
}

# vim: filetype=sh
