  local target=${pkgname%%-*}
  id="$(grep -Pom1 '(?<=<em:id>).*(?=</em:id>)' install.rdf)"
  destdir="$pkgdir/usr/lib/${target/firefox/firefox\/browser}/extensions"
  install -d "$destdir"

# vim: filetype=sh
