[ "$arch" ] || arch=('any')

source+=("${pkgname}.zip::https://addons.mozilla.org/firefox/downloads/latest/${pkgname#*-*-}/platform:2/")

prepare() {
  rm ${pkgname}.zip
}

# template input; name=rdf-query

pkgver() {
  sparql '<urn:mozilla:install-manifest> em:version ?x' | tr - .
}

# template input; name=rdf-query

# Retrieve current compatibility information from install.rdf.
query-version() {
  sparql "[] em:id '$2' ; em:${1}Version ?x" install.rdf
}

# vim: filetype=sh
