# template input; name=source-git-plain

makedepends+=(libxml2)

pkgver() {
  cd $_gitname
  # template input; name=install-rdf-version
  echo -n .
  # template input; name=git-revcount
}

# vim: filetype=sh
