# template input; name=source-git-plain

pkgver() {
  cd "$_gitname"
  find -iname '*.json' -exec sed -n \
    's/.*"version"\s*:\s*"\([[:digit:].]*\)"\s*,.*/\1/p' \
    '{}' \; -quit 2>/dev/null | tr '\n' '.'
  # template input; name=git-revcount
}

# vim: filetype=sh
